<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDFSorter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AE26EF045CFCBC751B0D1DF394EFCD12F2E8CAAE</string>
				<key>dateExpires</key>
				<string>6/6/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A35BTEKDJ3.com.PDFSorter</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A35BTEKDJ3</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>A35BTEKDJ3.com.PDFSorter</string>
				</array>
			</dict>
			<key>name</key>
			<string>PDFSorter.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6be98184-03aa-4fc3-afb3-9d441a1f02cf</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A35BTEKDJ3</string>
				<key>name</key>
				<string>Kevin Bunarjo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
